.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Spacing between item s*/
}
.box {
    background-color: pink;
    padding: 20px;
    text-align: center;
}