/*
  style.css - Assignment 3 (Chapter 5 focus)
  ----------------------------------------------------------
  References (Chapter 5):
    - External vs. Internal vs. Inline CSS
    - Cascade (specificity, order)
    - Inheritance (how child elements get parent properties)
*/

body {
  color: #570189; /* I chose a purple color for the body because it's a nice color.*/
  font-family: Arial, sans-serif; /* I chose the font arial because it's simple and easy to read.*/
  background-color: #f5f5f5; /*I chose a light pink for the background so the text is easy to read.*/
}

h1 {
  color: blue;
  font-size: 2.5em;
}

/*
  Observations:
  The `color` and `font-family` properties set on the `body` are inherited by the `<p>` and `<footer>` elements.
  The `h1` inline style overrides the External CSS.
*/