/*
  style.css - Assignment 3 (Chapter 5 focus)
  ----------------------------------------------------------
  References (Chapter 5):
    - External vs. Internal vs. Inline CSS
    - Cascade (specificity, order)
    - Inheritance (how child elements get parent properties)
*/

body {
  color: #3c005e; /* I chose a dark purple color because it's a nice color.*/
  font-family: Arial, sans-serif; /* I chose the font arial because it's simple and easy to read.*/
  background-color: #c5f7ff; /*I chose a light blue for the background so the text is easy to read.*/
  /* The 'color' and 'font-family' properties set on the <body> will be inherited by <p> and <footer> unless overridden.*/
}

h1 {
  color: blue;
  font-size: 2.5em;
}

/*
  Observations:
  The `color` and `font-family` properties set on the `body` are inherited by the `<p>` and `<footer>` elements.
  The `h1` inline style overrides the External CSS.
*/